language: objective-c
osx_image: xcode7.1
before_install:
    - sudo easy_install cpp-coveralls

before_script:
    - cd ISO8601ForCocoa
script:
    - xcodebuild test -scheme 'ISO8601ForCocoa' SRCROOT=../build OBJROOT=../build SHARED_PRECOMPS_DIR=../build
    - xcodebuild test -scheme 'ISO8601ForCocoaTouch' -destination 'name=iPhone 5s' SRCROOT=../build OBJROOT=../build SHARED_PRECOMPS_DIR=../build
    - xcodebuild test -scheme 'ISO8601ForCocoaTouch' -destination 'name=Apple TV 1080p' SRCROOT=../build OBJROOT=../build SHARED_PRECOMPS_DIR=../build
after_success:
    - cd ..
    - coveralls -x '.m'
